.page_editor {
	height: 100%;
}

.page_slider {
	background: #fff;
}

.page_content {
	background: '#fff';
	padding: 24px;
	margin: 0;
	position: relative;
}


.document_main{
	width: 100%;
	height: 100%;
}
.page_main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
.editor_tools{
	text-align: center;
}
.editor_tools button {
	margin-right: 10px;
}